body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #e1bee7);
  }
  .logo-small {
    width: 180px;
    height: 60px;
    object-fit: contain;
  }
  
  .register-container {
    max-width: 500px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .register-button{
    background-color: #12aa4a;
  }

  .register-button:hover{
    background-color: #0caf48 !important;
  }
  
  #responseMessage{
    height: 10px;
    margin-bottom: 20px;
    font-size: 10px;
  }
 